/**
 * Flat UI Colors
 *
 * @author		Elias Menkens <elias.menkens@gmail.com>
 * @reference	http://www.flatuicolorpicker.com/all
 *
 */

// Red

$flat-chestnut-rose: #D24D57;
$flat-pomegranate: #F22613;
$flat-thunderbird: #D91E18;
$flat-ord-brick: #96281B;
$flat-flamingo: #EF4836;
$flat-valencia: #D64541;
$flat-tall-poppy: #C0392B;
$flat-monza: #CF000F;
$flat-cinnabar: #E74C3C;

// Pink

$flat-razzmatrazz: #DB0A5B;
$flat-sunset-orange: #F64747;
$flat-wax-flower: #F1A9A0;
$flat-carabet: #D2527F;
$flat-new-york-pink: #E08283;
$flat-radical-red: #F62459;
$flat-sunglo: #E26A6A;

// Purple

$flat-snuff: #DCC6E0;
$flat-rebeccapurple: #663399;
$flat-honey-flower: #674172;
$flat-wistful: #AEA8D3;
$flat-plum: #913D88;
$flat-seance: #9A12B3;
$flat-medium-purple: #BF55EC;
$flat-light-wisteria: #BE90D4;
$flat-studio: #8E44AD;
$flat-wisteria: #9B59B6;

// Blue

$flat-san-marino: #446CB3;
$flat-alice-blue: #E4F1FE;
$flat-royal-blue: #4183D7;
$flat-picton-blue-light: #59ABE3; // !!
$flat-spray: #81CFE0;
$flat-shakespeare: #52B3D9;
$flat-humming-bird: #C5EFF7;
$flat-picton-blue-dark: #22A7F0; // !!
$flat-curious-blue-dark: #3498DB; // !!
$flat-madison: #2C3E50;
$flat-dodger-blue: #19B5FE;
$flat-ming: #336E7B;
$flat-ebony-clay: #22313F;
$flat-malibu: #6BB9F0;
$flat-curious-blue-dark: #1E8BC3; // !!
$flat-chambray: #3A539B;
$flat-pickled-bluewood: #34495E;
$flat-hoki: #67809F;
$flat-jelly-bean: #2574A9;
$flat-jacksons-purple: #1F3A93;
$flat-jordy-blue: #89C4F4;
$flat-steel-blue: #4B77BE;
$flat-fountain-blue: #5C97BF;

// Green

$flat-medium-turquoise: #4ECDC4;
$flat-aqua-island: #A2DED0;
$flat-gossip: #87D37C;
$flat-dark-sea-green: #90C695;
$flat-eucalyptus: #26A65B;
$flat-caribbean-green: #03C9A9;
$flat-silver-tree: #68C3A3;
$flat-downy: #65C6BB;
$flat-mountain-meadow-light: #1BBC9B; // !!
$flat-light-sea-green: #1BA39C;
$flat-medium-aquamarine: #66CC99;
$flat-turquoise: #36D7B7;
$flat-madang: #C8F7C5;
$flat-riptide: #86E2D5;
$flat-shamrock: #2ECC71;
$flat-mountain-meadow-dark: #16A085; // !!
$flat-emerald: #3FC380;
$flat-green-haze: #019875;
$flat-free-speech-aquamarine: #03A678;
$flat-ocean-green: #4DAF7C;
$flat-niagara: #2ABB9B;
$flat-jade: #00B16A;
$flat-salem: #1E824C;
$flat-observatory: #049372;
$flat-jungle-green: #26C281;

// Yellow

$flat-cream-can: #F5D76E;
$flat-ripe-lemon: #F7CA18;
$flat-saffron: #F4D03F;

// Orange

$flat-cape-honey: #FDE3A7;
$flat-california: #F89406;
$flat-fire-bush: #EB9532;
$flat-tahiti-gold: #E87E04;
$flat-casablanca: #F4B350;
$flat-crusta: #F2784B;
$flat-jaffa-light: #EB974E; // !!
$flat-lightning-yellow: #F5AB35;
$flat-burnt-orange: #D35400;
$flat-buttercup: #F39C12;
$flat-ecstasy: #F9690E;
$flat-sandstorm: #F9BF3B;
$flat-jaffa-dark: #F27935; // !!
$flat-zest: #E67E22;

// Gray

$flat-white-smoke: #ECECEC;
$flat-lynch: #6C7A89;
$flat-pumice: #D2D7D3;
$flat-gallery: #EEEEEE;
$flat-silver-sand: #BDC3C7;
$flat-porcelain: #ECF0F1;
$flat-cascade: #95A5A6;
$flat-iron: #DADFE1;
$flat-edward: #ABB7B7;
$flat-cararra: #F2F1EF;
$flat-silver: #BFBFBF;